* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto;
}

body {
    display: flex;
    align-items: center;
}

div {
    display: flex;
}

button {
    flex-grow: 1;
    font-size: 50px;

}

#content-container {
    flex-direction: column;
    width: 50%;
    height: 80%;
    border: 10px solid #000;
    margin: 0 auto;
    
}

#calculator-container {
    flex-grow: 1;
}

#display {
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 75%;
    flex-direction: column;

}

#digits div {
    height: 25%;
}

#row-4 {
    justify-content: center;
}

#row-4 button {
    width: 33%;
    flex-grow: 1;
}

#operations {
    flex-direction: column;
    flex-grow: 1;
}